body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1{
    font-size: 50px;
}

.peter-parker{
    color: orange;

}


.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    float: left;
}

.half-width img{
    width: 100%;
}

.top-banner{
    display:flex;
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}